<ion-header>
	<ion-toolbar dir="rtl" color="medium">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title text-center>قائمة الاشخاص</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item no-padding *ngFor="let person of people; let i = index" dir="rtl">
		<p tappable (click)="openPersonDetails(i)" class="fullWidth">
			{{ person.value.name }}
		</p>
		<!-- <ion-icon
			tappable
			side="end"
			ios="md-trash"
			md="md-trash"
			color="danger"
			(click)="deletePerson(i)"
		></ion-icon> -->
	</ion-item>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" mini>
	<ion-fab-button color="medium" (click)="addPerson()">
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
</ion-fab>
