/* start form Login Links */
.link-line {
	padding-bottom: 16px;

	a {
		position: relative;
		text-decoration: none;
		font-size: 16px;
		font-weight: 200;
		color: #b99867;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: -3px;
			bottom: 0;
			width: calc(100% + 6px);
			height: 1px;
			background-color: #b99867;
		}
		text-transform: capitalize;
	}
}
/* start form Login Links */

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
	.item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
	.item-inner {
	border-bottom-color: #c8c7cc !important;
	-webkit-box-shadow: 0 !important;
	box-shadow: 0 !important;
}

// right side menu
#menu-right {
	button {
		padding-left: 16px;
	}
	ion-content {
		background: #00d2ff; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to left,
			#3a7bd5,
			#00d2ff
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to left,
			#3a7bd5,
			#00d2ff
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	.menu-inner {
		width: 10vh;
	}
	@media screen and (orientation: landscape) {
		.menu-inner {
			width: 15vh;
		}
	}
	.active-menu-item {
		position: absolute;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid #ffffff;
	}
	.label {
		display: flex;
		align-items: center;
	}
	.list-md[no-lines] .item-block,
	.list-md[no-lines] ion-item-options,
	.list-md[no-lines] .item .item-inner,
	.list-ios[no-lines] .item-block,
	.list-ios[no-lines] ion-item-options,
	.list-ios[no-lines] .item .item-inner {
		padding: 0.3rem 0;
		background: transparent;
		color: white;
	}
	ion-icon {
		line-height: 1;
	}
}
