<ion-header>
	<ion-toolbar>
		<ion-title>add-event</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- <ion-card>
		<ion-card-header tappable (click)="collapseCard = !collapseCard">
			<ion-card-title>New Event</ion-card-title>
		</ion-card-header>
		<ion-card-content *ngIf="!collapseCard">
			<ion-item>
				<ion-input
					type="text"
					placeholder="Title"
					[(ngModel)]="event.title"
				></ion-input>
			</ion-item>
			<ion-item>
				<ion-input
					type="text"
					placeholder="Description"
					[(ngModel)]="event.desc"
				></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Start</ion-label>
				<ion-datetime
					displayFormat="MM/DD/YYYY HH:mm"
					pickerFormat="MMM D:HH:mm"
					[(ngModel)]="event.startTime"
					[min]="minDate"
				></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label>End</ion-label>
				<ion-datetime
					displayFormat="MM/DD/YYYY HH:mm"
					pickerFormat="MMM D:HH:mm"
					[(ngModel)]="event.endTime"
					[min]="minDate"
				></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label>All Day?</ion-label>
				<ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
			</ion-item>
			<ion-button
				fill="outline"
				expand="block"
				(click)="addEvent()"
				[disabled]="event.title == ''"
				>Add Event</ion-button
			>
		</ion-card-content>
	</ion-card> -->
</ion-content>
