<ion-header>
	<ion-toolbar dir="rtl" color="medium">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title text-center
			>اضافة موعد ل{{ this.personObject.value.name }}</ion-title
		>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header tappable (click)="collapseCard = !collapseCard">
		</ion-card-header>
		<ion-card-content *ngIf="!collapseCard">
			<form [formGroup]="eventForm" dir="rtl">
				<ion-item>
					<ion-label>Start</ion-label>
					<ion-datetime
						displayFormat="MM/DD/YYYY HH:mm"
						pickerFormat="MMM D:HH:mm"
						formControlName="startTime"
						[min]="minDate"
					></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label>End</ion-label>
					<ion-datetime
						displayFormat="MM/DD/YYYY HH:mm"
						pickerFormat="MMM D:HH:mm"
						formControlName="endTime"
						[min]="minDate"
					></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label> عدد التكرار فى الشهر</ion-label>
					<ion-select formControlName="numberInMonth">
						<ion-select-option value="1">
							1
						</ion-select-option>
						<ion-select-option value="2">
							2
						</ion-select-option>
						<ion-select-option value="2">
							4
						</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-button
					fill="outline"
					expand="block"
					(click)="addEvent()"
					[disabled]="!eventForm.valid"
					>اضافة</ion-button
				>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
