<ion-header>
	<ion-toolbar dir="rtl" color="medium">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title text-center
			>اضافة موعد ل{{ this.personObject.value.name }}</ion-title
		>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header tappable (click)="collapseCard = !collapseCard">
		</ion-card-header>
		<ion-card-content *ngIf="!collapseCard">
			<form [formGroup]="eventForm" dir="rtl">
				<ion-item>
					<ion-label>اليوم</ion-label>
					<ion-select formControlName="day">
						<ion-select-option value="0"> الاحد</ion-select-option>
						<ion-select-option value="1">الاثنين</ion-select-option>
						<ion-select-option value="2"
							>الثلاثاء</ion-select-option
						>
						<ion-select-option value="3"
							>الاربعاء</ion-select-option
						>
						<ion-select-option value="4">الخميس</ion-select-option>
						<ion-select-option value="5">الجمعة</ion-select-option>
						<ion-select-option value="6">السبت</ion-select-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label>البداية</ion-label>
					<ion-datetime
						displayFormat="hh:mm A"
						pickerFormat="hh:mm A"
						formControlName="startTime"
					></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label>النهاية</ion-label>
					<ion-datetime
						displayFormat="hh:mm A"
						pickerFormat="hh:mm A"
						formControlName="endTime"
					></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label> عدد التكرار فى الشهر</ion-label>
					<ion-select formControlName="numberInMonth">
						<ion-select-option value="1">
							1
						</ion-select-option>
						<ion-select-option value="2">
							2
						</ion-select-option>
						<ion-select-option value="4">
							4
						</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-button
					fill="outline"
					expand="block"
					(click)="addEvent()"
					[disabled]="!eventForm.valid"
					>اضافة</ion-button
				>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
