<ion-app>
	<ion-menu dir="rtl" contentId="content" side="end" type="push" id="Menu">
		<ion-header>
			<ion-toolbar>
				<ion-title class="bigFont">القائمة</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list no-lines>
				<ion-item
					menuClose
					ion-button
					*ngFor="let p of pages"
					(click)="openPage(p)"
				>
					<ion-icon name="{{ p.icon }}"></ion-icon>
					<h1 class="label">{{ p.title }}</h1>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
