<ion-header>
	<ion-toolbar color="medium">
		<ion-row dir="rtl">
			<ion-col size="2">
				<ion-menu-button autoHide="true"></ion-menu-button>
			</ion-col>
			<ion-col size="10">
				<ion-title text-center>
					الصفحة الرئيسية
				</ion-title>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<!-- Change the displayed calendar mode -->
		<ion-col size="4">
			<ion-button
				expand="block"
				[color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
				(click)="changeMode('month')"
				>شهر</ion-button
			>
		</ion-col>
		<ion-col size="4">
			<ion-button
				expand="block"
				[color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
				(click)="changeMode('week')"
				>اسبوع</ion-button
			>
		</ion-col>
		<ion-col size="4">
			<ion-button
				expand="block"
				[color]="calendar.mode == 'day' ? 'primary' : 'secondary'"
				(click)="changeMode('day')"
				>يوم</ion-button
			>
		</ion-col>

		<!-- Move back one screen of the slides -->
		<ion-col size="3" text-left>
			<ion-button fill="clear" (click)="back()">
				<ion-icon name="arrow-back" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-col>

		<ion-col size="6" text-center dir="rtl">
			<ion-label class="ion-label-font">
				{{ viewTitle }}
			</ion-label>
			<ion-button fill="clear" (click)="today()">
				<ion-icon name="today" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-col>

		<!-- Move forward one screen of the slides -->
		<ion-col size="3" text-right>
			<ion-button fill="clear" (click)="next()">
				<ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>

	<calendar
		[eventSource]="eventSource"
		[calendarMode]="calendar.mode"
		[currentDate]="calendar.currentDate"
		(onEventSelected)="onEventSelected($event)"
		(onTitleChanged)="onViewTitleChanged($event)"
		(onTimeSelected)="onTimeSelected($event)"
		startHour="6"
		endHour="20"
		step="30"
		startingDayWeek="1"
		dir="rtl"
		[locale]="calendar.locale"
	>
	</calendar>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" mini>
	<ion-fab-button color="medium">
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
	<ion-fab-list side="top">
		<ion-fab-button data-desc="اضافة موعد">
			<ion-icon name="alarm"></ion-icon>
		</ion-fab-button>
	</ion-fab-list>
</ion-fab>
